<a href="https://colab.research.google.com/github/Sonali749/MSC-Project/blob/main/Algorithum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
num=LabelEncoder()
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn import utils
from sklearn.svm import SVR

#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import graphviz
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report, confusion_matrix
%matplotlib inline
print("Libraries Loaded")

Libraries Loaded

In [ ]:
df1 = pd.read_csv('/content/Unemployment_Rate_upto_11_2020.csv')

In [ ]:
df1.head()

           Region         Date  Frequency  ...  Region.1  longitude  latitude
0  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
1  Andhra Pradesh   29-03-2020          M  ...     South    15.9129     79.74
2  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
3  Andhra Pradesh   30-04-2020          M  ...     South    15.9129     79.74
4  Andhra Pradesh   31-05-2020          M  ...     South    15.9129     79.74

[5 rows x 9 columns]

In [ ]:
df1.tail()

          Region         Date  Frequency  ...  Region.1  longitude  latitude
262  West Bengal   30-06-2020          M  ...      East    22.9868    87.855
263  West Bengal   31-07-2020          M  ...      East    22.9868    87.855
264  West Bengal   31-08-2020          M  ...      East    22.9868    87.855
265  West Bengal   30-09-2020          M  ...      East    22.9868    87.855
266  West Bengal   31-10-2020          M  ...      East    22.9868    87.855

[5 rows x 9 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Region                                267 non-null    object
 1    Date                                 267 non-null    object
 2    Frequency                            267 non-null    object
 3    Estimated_Unemployment_Rate          267 non-null    float64
 4    Estimated_Employed                   267 non-null    int64
 5    Estimated_Labour_Participation_Rate  267 non-null    float64
 6   Region.1                              267 non-null    object
 7   longitude                             267 non-null    float64
 8   latitude                              267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.isnull().sum()

Region                                  0
 Date                                   0
 Frequency                              0
 Estimated_Unemployment_Rate            0
 Estimated_Employed                     0
 Estimated_Labour_Participation_Rate    0
Region.1                                0
longitude                               0
latitude                                0
dtype: int64

In [ ]:
df1.columns =['Region','Date','Frequency','Estimated Unemployment Rate(%)','Estimated Employed','Estimated Labour Participation Rate(%)','Region.1','longitude','latitude']

In [ ]:
#df1['Estimated Employed']=num.fit_transform(df1['Estimated Employed']).astype('int')

In [ ]:
#df1['Estimated Unemployment Rate(%)']=num.fit_transform(df1['Estimated Unemployment Rate(%)']).astype('int')

In [ ]:
#df1['Estimated Labour Participation Rate(%)']=num.fit_transform(df1['Estimated Labour Participation Rate(%)']).astype('int')

In [ ]:
df1['Region']=num.fit_transform(df1['Region']).astype('int')

In [ ]:
df1[' Frequency']=num.fit_transform(df1[' Frequency']).astype('int')

In [ ]:
df1[' Date']=num.fit_transform(df1[' Date']).astype('int')

In [ ]:
df1['Region.1']=num.fit_transform(df1['Region.1']).astype('int')
#df1['longitude']=num.fit_transform(df1['longitude']).astype('int')
#df1['latitude']=num.fit_transform(df1['latitude']).astype('int')

In [ ]:
df1

     Region   Date   Frequency  ...  Region.1  longitude  latitude
0         0      6           0  ...         3    15.9129    79.740
1         0      1           0  ...         3    15.9129    79.740
2         0      6           0  ...         3    15.9129    79.740
3         0      2           0  ...         3    15.9129    79.740
4         0      7           0  ...         3    15.9129    79.740
..      ...    ...         ...  ...       ...        ...       ...
262      26      3           0  ...         0    22.9868    87.855
263      26      8           0  ...         0    22.9868    87.855
264      26      9           0  ...         0    22.9868    87.855
265      26      4           0  ...         0    22.9868    87.855
266      26     10           0  ...         0    22.9868    87.855

[267 rows x 9 columns]

In [ ]:
df1.astype(int)

     Region   Date   Frequency  ...  Region.1  longitude  latitude
0         0      6           0  ...         3         15        79
1         0      1           0  ...         3         15        79
2         0      6           0  ...         3         15        79
3         0      2           0  ...         3         15        79
4         0      7           0  ...         3         15        79
..      ...    ...         ...  ...       ...        ...       ...
262      26      3           0  ...         0         22        87
263      26      8           0  ...         0         22        87
264      26      9           0  ...         0         22        87
265      26      4           0  ...         0         22        87
266      26     10           0  ...         0         22        87

[267 rows x 9 columns]

In [ ]:
df2=df1.round(0).astype(int)

In [ ]:
df1.drop(['Frequency'], axis = 1,inplace=True)

In [ ]:
df1.drop(['Region.1'], axis = 1,inplace=True)

In [ ]:
df2

     Region   Date   Frequency  ...  Region.1  longitude  latitude
0         0      6           0  ...         3         16        80
1         0      1           0  ...         3         16        80
2         0      6           0  ...         3         16        80
3         0      2           0  ...         3         16        80
4         0      7           0  ...         3         16        80
..      ...    ...         ...  ...       ...        ...       ...
262      26      3           0  ...         0         23        88
263      26      8           0  ...         0         23        88
264      26      9           0  ...         0         23        88
265      26      4           0  ...         0         23        88
266      26     10           0  ...         0         23        88

[267 rows x 9 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
predictors = [' Estimated_Employed',' Estimated_Labour_Participation_Rate']
X = df2[predictors]
y = df2[' Estimated_Unemployment_Rate']

In [ ]:
#X=df1.drop('Date', axis=1)
#y=df1['Date']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#train, validation = train_test_split(df2, test_size=0.50, random_state = 5)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dct=DecisionTreeClassifier(random_state=42)

In [ ]:
dct.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [ ]:
y_predictions=dct.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
#accuracy=accuracy_score(y_test.values,y_predictions.values)

AttributeError: ignored

In [ ]:
accuracy_score(y_test,y_predictions)

0.16666666666666666

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf=RandomForestClassifier(n_estimators=500)

In [ ]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_predictions=rf.predict(X_test)

In [ ]:
#df2.fit(X_train,y_train.ravel())

AttributeError: ignored

In [ ]:
accuracy_score(y_test,y_predictions)

0.12962962962962962

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logr=LogisticRegression(C=0.01,max_iter=1000,random_state=42)

In [ ]:
logr.fit(X_train,y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_predictions=logr.predict(X_test)

In [ ]:
print(accuracy_score(y_predictions,y_test))

0.037037037037037035