<a href="https://colab.research.google.com/github/Sonali749/MSC-Project/blob/main/Data_Processing_and_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [ ]:
#import the dependencies
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import calendar

In [ ]:
import datetime as dt
import plotly.io as pio
pio.templates

Templates configuration
-----------------------
    Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [ ]:
import plotly.graph_objects as go
import plotly.figure_factory as ff
from IPython.display import HTML

In [ ]:
pip install --upgrade plotly

In [ ]:
#Ignore warnings
import warnings
warnings.simplefilter(action ="ignore", category = FutureWarning)

In [ ]:
df = pd.read_csv('/content/Unemployment_Rate_upto_11_2020.csv')

In [ ]:
df.sample(5)

             Region         Date  Frequency  ...  Region.1  longitude  latitude
122          Kerala   30-04-2020          M  ...     South    10.8505   76.2711
135  Madhya Pradesh   31-07-2020          M  ...      West    22.9734   78.6569
107       Jharkhand   30-09-2020          M  ...      East    23.6102   85.2799
185          Punjab   31-07-2020          M  ...     North    31.1471   75.3412
251     Uttarakhand   31-05-2020          M  ...     North    30.0668   79.0193

[5 rows x 9 columns]

**EDA**

In [ ]:
#length of the data
len(df)

267

In [ ]:
#check shape of the data
df.shape

(267, 9)

In [ ]:
#preview dataset
df.head()

           Region         Date  Frequency  ...  Region.1  longitude  latitude
0  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
1  Andhra Pradesh   29-03-2020          M  ...     South    15.9129     79.74
2  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
3  Andhra Pradesh   30-04-2020          M  ...     South    15.9129     79.74
4  Andhra Pradesh   31-05-2020          M  ...     South    15.9129     79.74

[5 rows x 9 columns]

In [ ]:
df.tail()

          Region         Date  Frequency  ...  Region.1  longitude  latitude
262  West Bengal   30-06-2020          M  ...      East    22.9868    87.855
263  West Bengal   31-07-2020          M  ...      East    22.9868    87.855
264  West Bengal   31-08-2020          M  ...      East    22.9868    87.855
265  West Bengal   30-09-2020          M  ...      East    22.9868    87.855
266  West Bengal   31-10-2020          M  ...      East    22.9868    87.855

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Region                                267 non-null    object
 1    Date                                 267 non-null    object
 2    Frequency                            267 non-null    object
 3    Estimated_Unemployment_Rate          267 non-null    float64
 4    Estimated_Employed                   267 non-null    int64
 5    Estimated_Labour_Participation_Rate  267 non-null    float64
 6   Region.1                              267 non-null    object
 7   longitude                             267 non-null    float64
 8   latitude                              267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [ ]:
df.sample(10)

               Region         Date  Frequency  ...   Region.1  longitude  latitude
228           Tripura   29-02-2020          M  ...  Northeast    23.9408   91.9882
54                Goa   31-05-2020          M  ...       West    15.2993   74.1240
91    Jammu & Kashmir   29-02-2020          M  ...      North    33.7782   76.5762
197         Rajasthan   30-09-2020          M  ...      North    27.0238   74.2179
27              Bihar   31-08-2020          M  ...       East    25.0961   85.3131
86   Himachal Pradesh   31-07-2020          M  ...      North    31.1048   77.1734
164            Odisha   30-06-2020          M  ...       East    20.9517   85.0985
99          Jharkhand   31-01-2020          M  ...       East    23.6102   85.2799
183            Punjab   31-05-2020          M  ...      North    31.1471   75.3412
134    Madhya Pradesh   30-06-2020          M  ...       West    22.9734   78.6569

[10 rows x 9 columns]

In [ ]:
#Check the number of rows and columns
rows,columns=df.shape
print('Number of rows: ',rows)
print('Number of columns: ',columns)

Number of rows:  267
Number of columns:  9

**Data types of columns**

In [ ]:
df.dtypes

Region                                   object
 Date                                    object
 Frequency                               object
 Estimated_Unemployment_Rate            float64
 Estimated_Employed                       int64
 Estimated_Labour_Participation_Rate    float64
Region.1                                 object
longitude                               float64
latitude                                float64
dtype: object

In [ ]:
df.describe()

        Estimated_Unemployment_Rate  ...    latitude
count                    267.000000  ...  267.000000
mean                      12.236929  ...   80.532425
std                       10.803283  ...    5.831738
min                        0.500000  ...   71.192400
25%                        4.845000  ...   76.085600
50%                        9.650000  ...   79.019300
75%                       16.755000  ...   85.279900
max                       75.850000  ...   92.937600

[8 rows x 5 columns]

In [ ]:
df.describe(include=['object'])

               Region         Date  Frequency Region.1
count             267          267        267      267
unique             27           11          1        5
top     Uttar Pradesh   31-03-2020          M    North
freq               10           28        267       79

In [ ]:
#view columns name
df.columns

Index(['Region', ' Date', ' Frequency', ' Estimated_Unemployment_Rate',
       ' Estimated_Employed', ' Estimated_Labour_Participation_Rate',
       'Region.1', 'longitude', 'latitude'],
      dtype='object')

In [ ]:
df.isnull()

     Region   Date   Frequency  ...  Region.1  longitude  latitude
0     False  False       False  ...     False      False     False
1     False  False       False  ...     False      False     False
2     False  False       False  ...     False      False     False
3     False  False       False  ...     False      False     False
4     False  False       False  ...     False      False     False
..      ...    ...         ...  ...       ...        ...       ...
262   False  False       False  ...     False      False     False
263   False  False       False  ...     False      False     False
264   False  False       False  ...     False      False     False
265   False  False       False  ...     False      False     False
266   False  False       False  ...     False      False     False

[267 rows x 9 columns]

In [ ]:
df.isnull().sum()

Region                                  0
 Date                                   0
 Frequency                              0
 Estimated_Unemployment_Rate            0
 Estimated_Employed                     0
 Estimated_Labour_Participation_Rate    0
Region.1                                0
longitude                               0
latitude                                0
dtype: int64

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
262    False
263    False
264    False
265    False
266    False
Length: 267, dtype: bool

In [ ]:
df.columns =['States','Date','Frequency','Estimated_Unemployment_Rate','Estimated_Employed','Estimated_Labour_Participation_Rate','Region','longitude','latitude']

In [ ]:
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)

In [ ]:
df['Frequency']= df['Frequency'].astype('category')

In [ ]:
df['Month'] =  df['Date'].dt.month

In [ ]:
df['Month_int'] = df['Month'].apply(lambda x : int(x))

In [ ]:
df['Month_name'] =  df['Month_int'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
df['Region'] = df['Region'].astype('category')

In [ ]:
df.drop(columns='Month',inplace=True)
df.head(3)

           States       Date Frequency  ...  latitude  Month_int  Month_name
0  Andhra Pradesh 2020-03-31         M  ...     79.74          3         Mar
1  Andhra Pradesh 2020-03-29         M  ...     79.74          3         Mar
2  Andhra Pradesh 2020-03-31         M  ...     79.74          3         Mar

[3 rows x 11 columns]

In [ ]:
dataset_stats = df[['Estimated_Unemployment_Rate',
       'Estimated_Employed', 'Estimated_Labour_Participation_Rate']]

In [ ]:
round(dataset_stats.describe().T,2)

                                     count  ...          max
Estimated_Unemployment_Rate          267.0  ...        75.85
Estimated_Employed                   267.0  ...  59433759.00
Estimated_Labour_Participation_Rate  267.0  ...        69.69

[3 rows x 8 columns]

In [ ]:
region_stats = df.groupby(['Region'])[['Estimated_Unemployment_Rate','Estimated_Employed','Estimated_Labour_Participation_Rate']].mean().reset_index()

In [ ]:
region_stats = round(region_stats,2)

In [ ]:
region_stats

      Region  ...  Estimated_Labour_Participation_Rate
0       East  ...                                40.11
1      North  ...                                38.70
2  Northeast  ...                                52.06
3      South  ...                                40.44
4       West  ...                                41.26

[5 rows x 4 columns]