<a href="https://colab.research.google.com/github/Sonali749/MSC-Project/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
num=LabelEncoder()
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn import utils
from sklearn.svm import SVR

In [64]:
df = pd.read_csv('/content/Unemployment in india(19-21).csv')

In [65]:
df.head()

           Region  ... Region.1
0  Andhra Pradesh  ...    South
1  Andhra Pradesh  ...    South
2  Andhra Pradesh  ...    South
3  Andhra Pradesh  ...    South
4  Andhra Pradesh  ...    South

[5 rows x 7 columns]

In [66]:
df.columns =['States','Date','Frequency','Estimated Unemployment Rate (%)','Estimated Employed','Estimated Labour Participation Rate (%)','Region']

In [67]:
df['Region']=num.fit_transform(df['Region']).astype('int')
df['States']=num.fit_transform(df['States']).astype('int')

In [68]:
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)

In [69]:
df['Month'] =  df['Date'].dt.month

In [70]:
df.drop(columns='Date',inplace=True)

In [71]:
df.drop(columns='Frequency',inplace=True)

In [72]:
df1=df.round(0).astype(int)

In [73]:
df1

     States  Estimated Unemployment Rate (%)  ...  Region  Month
0         0                                5  ...       3      3
1         0                                4  ...       3      4
2         0                                4  ...       3      5
3         0                                3  ...       3      6
4         0                                4  ...       3      7
..      ...                              ...  ...     ...    ...
640      26                               10  ...       0     10
641      26                               11  ...       0     11
642      26                                6  ...       0     12
643      26                                5  ...       0      1
644      26                                6  ...       0      2

[645 rows x 6 columns]

In [83]:
from sklearn.model_selection import train_test_split

In [ ]:
#X = df1.drop([' Estimated Unemployment Rate (%)'], axis=1)

In [ ]:
#y = df1[' Estimated Unemployment Rate (%)']

In [84]:
predictors = ['Estimated Unemployment Rate (%)','Estimated Employed']
X = df1[predictors]
y = df1['Region']

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [23]:
regressor = RandomForestRegressor(n_estimators=20, random_state=0)

In [24]:
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [25]:
y_pred = regressor.predict(X_test)

In [26]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.4209302325581395
Mean Squared Error: 0.6156201550387597
Root Mean Squared Error: 0.7846146538516596

In [45]:
#using LogisticRegression for predictions.
from sklearn.linear_model import LogisticRegression

In [46]:
logr=LogisticRegression(C=0.01,max_iter=1000,random_state=42)

In [48]:
logr.fit(X_train,y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
y_predictions=logr.predict(X_test)

In [50]:
print(accuracy_score(y_predictions,y_test))

0.046511627906976744