<a href="https://colab.research.google.com/github/Sonali749/MSC-Project/blob/main/Unemployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar

In [3]:
import datetime as dt
import plotly.io as pio
pio.templates

Templates configuration
-----------------------
    Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [4]:
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from IPython.display import HTML

In [5]:
dataset = pd.read_csv('/content/Unemployment_Rate_upto_11_2020.csv')

In [6]:
dataset.head()

           Region         Date  Frequency  ...  Region.1  longitude  latitude
0  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
1  Andhra Pradesh   29-03-2020          M  ...     South    15.9129     79.74
2  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
3  Andhra Pradesh   30-04-2020          M  ...     South    15.9129     79.74
4  Andhra Pradesh   31-05-2020          M  ...     South    15.9129     79.74

[5 rows x 9 columns]

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    267 non-null    object
 1    Date                                     267 non-null    object
 2    Frequency                                267 non-null    object
 3    Estimated Unemployment Rate (%)          267 non-null    float64
 4    Estimated Employed                       267 non-null    int64
 5    Estimated Labour Participation Rate (%)  267 non-null    float64
 6   Region.1                                  267 non-null    object
 7   longitude                                 267 non-null    float64
 8   latitude                                  267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [8]:
dataset.isnull().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Region.1                                    0
longitude                                   0
latitude                                    0
dtype: int64

In [9]:
dataset.columns =['States','Date','Frequency','Estimated Unemployment Rate','Estimated Employed','Estimated Labour Participation Rate','Region','longitude','latitude']

In [10]:
dataset['Date'] = pd.to_datetime(dataset['Date'],dayfirst=True)

In [11]:
dataset['Frequency']= dataset['Frequency'].astype('category')

In [12]:
dataset['Month'] =  dataset['Date'].dt.month